    <!-- Sidebar -->
    <aside class="sidebar" data-sidebar>
        <div class="sidebar-info">
            <!-- Avatar Box -->
            <figure class="avatar-box">
                <img src="/assets/images/my-avatar.png" alt="Sripathi Mohanasundaram" width="80">
            </figure>
            <div class="info-content">
                <h1 class="name" title="Sripathi Mohanasundaram">Sripathi M</h1>
                <span class="title title-braun">Senior Data Engineer</span>
            </div>
            <button class="info_more-btn" data-sidebar-btn>
                <span>Show Contacts</span>
                <ion-icon name="chevron-down"></ion-icon>
            </button>
        </div>

        <div class="sidebar-info_more">
            <div class="separator"></div>

            <ul class="social-list">
                <li class="social-item">
                    <a href="https://www.linkedin.com/in/sripathi-mohanasundaram/" class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://www.kaggle.com/microize" class="social-link">
                        <ion-icon name="link-outline"></ion-icon>
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://github.com/microize" class="social-link">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>
                </li>
                <li class="social-item">
                    <a href="https://twitter.com/SripathiMohana1" class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
            </ul>

            <div class="separator"></div>

            <ul class="contacts-list">
                <li class="contact-item">
                    <div class="icon-box">
                        <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <div class="contact-info">
                        <p class="contact-title">Email</p>
                        <a href="mailto:3sripathi@gmail.com" class="contact-link">3sripathi@gmail.com</a>
                    </div>
                </li>
                <li class="contact-item">
                    <div class="icon-box">
                        <ion-icon name="phone-portrait-outline"></ion-icon>
                    </div>
                    <div class="contact-info">
                        <p class="contact-title">Phone</p>
                        <a href="tel:+917010271248" class="contact-link">+91-7010271248</a>
                    </div>
                </li>
                <li class="contact-item">
                    <div class="icon-box">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </div>
                    <div class="contact-info">
                        <p class="contact-title">D.O.B</p>
                        <time datetime="1994-06-03">June 03, 1994</time>
                    </div>
                </li>
                <li class="contact-item">
                    <div class="icon-box">
                        <ion-icon name="location-outline"></ion-icon>
                    </div>
                    <div class="contact-info">
                        <p class="contact-title">Location</p>
                        <address>Chennai, Tamil Nadu, India</address>
                    </div>
                </li>
            </ul>
        </div>
    </aside>